body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
    background-color: #2f313c;
    color: cornsilk;
}
#ampersand {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    top: 150px;
    left: 0;
    right: 0;
    width: 1200px;
    z-index: -1;
    opacity: 50%;
}


#deck1, .buttonDiv, #deck2 {
    text-align: center;
    
}
embed {
 opacity: .1;
}
#deck1 {

grid-column: 1;
grid-row: 2;
}
.buttonDiv {
/* background-color: rgba(0, 0, 255, 0.424); */
grid-column: 2;
grid-row: 2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
}
#newQBtn {
    margin-top: 5%;
    margin-bottom: 0%;
    color: #cccccc;
    background-color: #DF0000;

    border-radius: 12px;
    width: 25%;
    height: 10%;

}
#deck2 {

grid-column: 3;
grid-row: 2;
}
footer {

    text-align: center;
    grid-column: 1/span 3;
    grid-row: 3;
    font-size: 50px;
    display: inline-flex;
}

#header {
    grid-column: 1/ span 3;
    grid-template-rows: 1;
    }
h1 {
    color: red;
    text-align: center;
    padding-bottom: 15px;
}

#modal {
	background-color: rgba(0,0,0,0.4);
    background-image: url('scroll.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modalTextbox {
    color: black;
   /*  background-color: rgb(219, 184, 119); */
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	padding: 6%;
    line-height: 120%;
    font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
#closeBtn {
    display: none;
}

input {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
#fire {
    width: 65%;
    margin-top: 35%;
    opacity: 50%;
}
#scoreText {
    margin-left: 15vh;
}